# Alumno

Ángel Castaño Cascales

# Ejercicios de Pandas

Antes de empezar, importemos los módulos que vamos a utilizar.

In [1]:
import numpy as np
import pandas as pd

## Series

### Asigna el nombre "alfabeto" a la siguiente serie e imprímela.

Pista: [pandas.Series.name](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.name.html)

In [2]:
s = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
s.head()

0    a
1    b
2    c
3    e
4    d
dtype: object

In [3]:
# Solución
s.name = "alfabeto"
print(s)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alfabeto, dtype: object

### Escribe una expresión que, dadas dos series, diga si todos los elementos de la primera son mayores que los correspondientes de la segunda.

Pista: [pandas.Dataframe.all()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.all.html)

In [6]:
s1 = pd.Series(np.random.randint(1, 10, size=10))
s2 = s1 + 1

In [7]:
# Solución
(s1 > s2).all()

np.False_

### Escribe una expresión que, dadas dos series, diga si hay algún elemento de la primera es menor o igual que el correspondiente de la segunda.

Pista: [pandas.Dataframe.any()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.any.html)

In [8]:
s1 = pd.Series(np.random.randint(1, 10, size=10))
s2 = pd.Series(np.random.randint(1, 10, size=10))

In [9]:
# Solución
(s1 <= s2).any()

np.True_

### Extrae todos los elementos de la serie dada que se encuentran en las posiciones indicadas por una lista.

In [10]:
serie = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
posicion = [0, 4, 8, 14, 20]

In [11]:
# Solución
serie[posicion]

0     a
4     e
8     i
14    o
20    u
dtype: object

### Construye una serie que sea el resultado de concatenar a una serie dada los elementos de otra.

Muestra el resultado de concatenar `s1` y `s2`, y responde a estas preguntas: ¿Qué ha sucedido con el índice? ¿Cuál es el tipo de datos de la serie resultante? ¿Qué sucede si indexamos la serie con el índice `0`?

Pista: [pandas.concat](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.concat.html)

In [12]:
s1 = pd.Series(range(5))
s2 = pd.Series([0.2, 0.3, 0.4])

In [14]:
# Solución y respuestas a las preguntas
resultado = pd.concat([s1,s2])
print(resultado)

# El índice no se ha reiniciado: se han mantenido los índices originales de s1 y s2, lo que causa que haya índices repetidos (0, 1, 2 aparecen dos veces).
# Tipo float64
# Esto devuelve solo el primer elemento con índice 0 (el 0.0 de s1). Si queremos todos los elementos con índice 0, debemos usar .loc

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
0    0.2
1    0.3
2    0.4
dtype: float64

### Ordena una serie, primero por el valor del índice y después por el valor de la serie, e imprímelas.

Pistas: [pandas.Series.sort_index()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.sort_index.html) y [pandas.Series.sort_values()](https://pandas.pydata.org/docs/reference/api/pandas.Series.sort_values.html)

In [4]:
serie = pd.Series({3: 1, 5: 0, 1: 4})
print(serie)

3    1
5    0
1    4
dtype: int64

In [6]:
# Solución
print("Ordenada por indices:")
print(serie.sort_index())
print("Ordenada por valores:")
print(serie.sort_values())

Ordenada por indices:
1    4
3    1
5    0
dtype: int64
Ordenada por valores:
5    0
3    1
1    4
dtype: int64

### Calcula la media del error cuadrático entre dos series.

Nota: La fórmula del error cuadrático entre $x$ e $y$ es $(x - y)^2$.

In [7]:
np.random.seed(0)
x = pd.Series(range(10))
y = pd.Series(range(10)) + np.random.random(10)
print(x)
print(y)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0.548814
1    1.715189
2    2.602763
3    3.544883
4    4.423655
5    5.645894
6    6.437587
7    7.891773
8    8.963663
9    9.383442
dtype: float64

In [8]:
# Solución
mse = ((x-y)**2).mean()
print("Media del error cuadrático: ",mse)

Media del error cuadrático:  0.41319910235287544

### Convierte la siguiente serie de fechas introducidas como cadenas a una serie de tipo `datetime` llamada `fechasdt`. 

Pista: [pandas.to_datetime()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.to_datetime.html)

In [11]:
fechas = pd.Series(['02 Jan 2010T00:00:01',
                    '02-02-2011',
                    '20120303',
                    '2013/04/04',
                    '2014-05-05',
                    '2015-06-06T12:20'])

In [13]:
# Solución
fechasdt = pd.to_datetime(fechas, format='mixed')
print(fechasdt)

0   2010-01-02 00:00:01
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### Crea tres series a partir de la serie `fechasdt` anterior llamadas `days`, `months` y `years`, donde cada una contenga el día, el mes y el año de cada fecha, respectivamente.

Pista: Una serie del tipo `datetime` tiene un atributo `.dt` con métodos para acceder al día, mes y año, por ejemplo, [pandas.Series.dt.day()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.Series.dt.day.html).

In [14]:
# Solución
days = fechasdt.dt.day
months = fechasdt.dt.month
years = fechasdt.dt.year

print("Dias:\n",days)
print("\nMeses:\n",months)
print("\nAños:\n",years)

Dias:
 0    2
1    2
2    3
3    4
4    5
5    6
dtype: int32

Meses:
 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

Años:
 0    2010
1    2011
2    2012
3    2013
4    2014
5    2015
dtype: int32

### Crea una serie con valores aleatorios enteros entre 1 y 10, pero cuyo índice tenga 12 objetos del tipo `datetime` con el primer día de cada mes del año 2024

El índice deben empezar por el **01-01-2024** y terminar en el **01-12-2024**.

Pistas: [numpy.random.randint](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html()) y [pandas.date_range()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.date_range.html)

In [16]:
# Solución
fechas = pd.date_range(start='2024-01-01', end='2024-12-01', freq='MS')
valores = np.random.randint(1, 11, size=12)
serie = pd.Series(valores, index=fechas)
print(serie)

2024-01-01    4
2024-02-01    6
2024-03-01    1
2024-04-01    3
2024-05-01    4
2024-06-01    9
2024-07-01    2
2024-08-01    4
2024-09-01    4
2024-10-01    4
2024-11-01    8
2024-12-01    1
Freq: MS, dtype: int32

## DataFrames

### Dadas las siguientes series que representan frutas, precio y peso comprado de cada una de ellas, construye un `Dataframe` y obtén tanto el precio medio como el peso medio de cada tipo de fruta.

Pista: [pandas.Series.groupby()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.Series.groupby.html)

In [17]:
np.random.seed(0)
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
precios = pd.Series(np.random.sample(10) * 3)
pesos = pd.Series(np.random.randint(1, 5, 10))

print(frutas.tolist())
print(precios.tolist())
print(pesos.tolist())

['manzana', 'banana', 'manzana', 'banana', 'banana', 'zanahoria', 'manzana', 'zanahoria', 'manzana', 'manzana']
[0.8179688837403396, 1.4329953519640495, 2.4365061863264796, 1.439931517125172, 1.1783543883024892, 2.5082362906121327, 1.0121884812518052, 1.9445156161535917, 1.1047246195216438, 2.871465476859139]
[4, 4, 1, 3, 4, 1, 2, 4, 2, 4]

In [18]:
# Solución
df = pd.DataFrame({'Fruta':frutas, 'Precio': precios, 'Peso': pesos})
medias = df.groupby('Fruta')[['Precio','Peso']].mean()

print("DataFrame original:\n",df)
print('\nPrecio y peso medio por fruta:\n',medias)

DataFrame original:
        Fruta    Precio  Peso
0    manzana  0.817969     4
1     banana  1.432995     4
2    manzana  2.436506     1
3     banana  1.439932     3
4     banana  1.178354     4
5  zanahoria  2.508236     1
6    manzana  1.012188     2
7  zanahoria  1.944516     4
8    manzana  1.104725     2
9    manzana  2.871465     4

Precio y peso medio por fruta:
              Precio      Peso
Fruta
banana     1.350427  3.666667
manzana    1.648571  2.600000
zanahoria  2.226376  2.500000

### Crea un `DataFrame` a partir del archivo `planets.csv` seleccionando solamente las columnas `method`,  `year` y `distance`, y calcula el número elementos que tiene.

Pista: [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [21]:
# Solución
df = pd.read_csv('planets.csv', usecols=['method','year','distance'])
print(df.head())

num_elementos = df.size
print("\nNumero total de elementos: ", num_elementos)

            method  distance  year
0  Radial Velocity     77.40  2006
1  Radial Velocity     56.95  2008
2  Radial Velocity     19.84  2011
3  Radial Velocity    110.62  2007
4  Radial Velocity    119.47  2009

Numero total de elementos:  3105

### Calcula cuantos planetas se han descubierto usando cada método de detección a partir del *dataset* de planetas anterior.

In [22]:
# Solución
conteo = df['method'].value_counts()
print(conteo)

method
Radial Velocity                  553
Transit                          397
Imaging                           38
Microlensing                      23
Eclipse Timing Variations          9
Pulsar Timing                      5
Transit Timing Variations          4
Orbital Brightness Modulation      3
Astrometry                         2
Pulsation Timing Variations        1
Name: count, dtype: int64

### Determina en qué año se descubrieron más planetas a partir del *dataset* de planetas anterior.

In [24]:
# Solución
descubrimientos_por_año = df['year'].value_counts()
print(descubrimientos_por_año)

año_max = descubrimientos_por_año.idxmax()
cantidad_max = descubrimientos_por_año.max()

print(f"El año con mas descubrimientos: {año_max} con {cantidad_max} descubrimientos")

year
2011    185
2012    140
2013    118
2010    102
2009     98
2008     74
2007     53
2014     52
2005     39
2002     32
2006     31
2004     26
2003     25
2000     16
1999     15
2001     12
1996      6
1998      5
1992      2
1995      1
1997      1
1989      1
1994      1
Name: count, dtype: int64
El año con mas descubrimientos: 2011 con 185 descubrimientos

### Create un `DataFrame` a partir del *dataset* de coches [Cars93_miss.csv](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv), y encuentra el fabricante, modelo, tipo y precio del coche más caro (solamente deben devolverse esas columnas).

En primer lugar, crea el dataset a partir de la URL anterior:

In [26]:
# Solución
url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)
print(df)

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
3          Audi      100  Midsize        NaN   37.7       44.6      19.0
4           BMW     535i  Midsize        NaN   30.0        NaN      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                 NaN      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                 NaN      Front  ...        7.0   187.0
89         30.0                 NaN      Front  ...        5.0   180.0
90         25.0                 NaN      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

Luego, muestra el precio del coche más caro, para lo cual puedes usar [pandas.DataFrame.max()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.max.html):

In [27]:
# Solución
precio_max = df['Price'].max()
print(precio_max)

61.9

A continuación, genera una serie de valores booleanos con el resultado de la comparación con dicho precio:

In [29]:
# Solución
es_mas_caro = df['Price'] == precio_max
print(es_mas_caro)

0     False
1     False
2     False
3     False
4     False
      ...
88    False
89    False
90    False
91    False
92    False
Name: Price, Length: 93, dtype: bool

A partir de la expresión anterior, obtén la fila del dataframe que cumple la condición de precio máximo con [pandas.DataFrame.loc()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.loc.html):

In [30]:
# Solución
coche_mas_caro = df.loc[es_mas_caro]
print(coche_mas_caro)

     Manufacturer Model     Type  Min.Price  Price  Max.Price  MPG.city  \
58  Mercedes-Benz  300E  Midsize       43.8   61.9       80.0      19.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
58         25.0  Driver & Passenger       Rear  ...        5.0     NaN

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
58      110.0   69.0         37.0            NaN          15.0  3525.0

     Origin                Make
58  non-USA  Mercedes-Benz 300E

[1 rows x 27 columns]

Por último, selecciona únicamente las columnas del dataframe indicadas (fabricante, modelo, tipo, precio):

In [31]:
# Solución
resultado = coche_mas_caro[['Manufacturer','Model','Type','Price']]
print(resultado)

     Manufacturer Model     Type  Price
58  Mercedes-Benz  300E  Midsize   61.9

### Calcula una nueva columna `Norm.price` en el *dataset* de coches anterior con el precio normalizado con respecto a su valor máximo y mínimo ().

Nota: Esta normalización se realiza con la siguiente operación: $(precio - precioMinimo)/(precioMaximo - precioMinimo)$

In [32]:
# Solución
precio_min = df['Price'].min()
precio_max = df['Price'].max()

df['Norm.price'] = (df['Price'] - precio_min) / (precio_max - precio_min)

print(df[['Price', 'Norm.price']].head())

   Price  Norm.price
0   15.9    0.155963
1   33.9    0.486239
2   29.1    0.398165
3   37.7    0.555963
4   30.0    0.414679

### Encuentra los tres vehículos con mayor precio (`Price`), ignorando los que no tengan precio asignado (NaN), en el *dataset* de coches anterior.

Pista: Averigua para qué sirve el parámetro `subset` de [pandas.DataFrame.dropna()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.dropna.html).

In [33]:
# Solución
df2 = df.dropna(subset=['Price'])
top3 = df2.sort_values(by='Price', ascending=False).head(3)

print(top3[['Make','Model','Type','Price']])

                  Make    Model     Type  Price
58  Mercedes-Benz 300E     300E  Midsize   61.9
47        Infiniti Q45      Q45  Midsize   47.9
10    Cadillac Seville  Seville  Midsize   40.1

### Crea un `DataFrame` a partir del archivo `california_cities.csv` y muestra la población total de la ciudad con más habitantes (se deben mostrar las columnas `city` y `population_total`).

In [36]:
# Solución
df_cities = pd.read_csv('california_cities.csv')
ciudad_mas_poblada = df_cities.sort_values(by='population_total',ascending=False).head(1)

print(ciudad_mas_poblada[['city','population_total']])

           city  population_total
239  LosAngeles           3884307

### Determina cuál es la población de la ciudad más septentional de California a partir del *dataset* de ciudades anterior (se deben mostrar las columnas `city`, `latd` y `population_total`).

In [37]:
# Solución
ciudad_norte = df_cities.sort_values(by='latd',ascending=False).head(1)

print(ciudad_norte[['city','latd','population_total']])

       city    latd  population_total
114  Dorris  41.965               939

### Calcula la densidad de población de la ciudad de California que se encuentra a mayor altitud a partir del *dataset* de ciudades anterior (se deben mostrar las columnas `city`, `elevation_m` y `area_total_km2`, así cómo la densidad de población total en habitantes por kilómetro cuadrado)

In [38]:
# Solución
df_cities = df_cities.dropna(subset=['elevation_m', 'area_total_km2', 'population_total'])
ciudad_mas_alta = df_cities.sort_values(by='elevation_m', ascending=False).head(1)
densidad = ciudad_mas_alta['population_total'].values[0] / ciudad_mas_alta['area_total_km2'].values[0]

print(ciudad_mas_alta[['city', 'elevation_m', 'area_total_km2']])
print(f"Densidad de población: {densidad:.2f} habitantes/km²")

             city  elevation_m  area_total_km2
246  MammothLakes       2402.0          65.541
Densidad de población: 125.63 habitantes/km²